body {
    margin: auto;
    width: 90%;
	background-color: #f1f1f1;
}

nav {
	background-color: #333;
    width: 100%;
    height: 50px;
	display: block;
}

nav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover {
	background-color: #ddd;
	color: black;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav .seleccionado {
    display: block;
    float:left;
	background-color: #009900;
	color: #f2f2f2;
	text-align: center;
	padding: 15px;
	text-decoration: bold;
	font-size: 17px;
}

main {
    background-color: #ffffff;
    margin: auto;
	width: 80%;
	display:block;
}

main h1 {
    margin: 10px;
	float: center;
	display: block;
	text-align: center;
	text-decoration: none;
    font-size: 30px;
    padding: 5px;
}

main img {
    margin: auto;
    display: block;
    padding: 5px;
}

main p {
    margin: 10px;
    padding: 2px;
}

footer {
    text-align: center;
    background-color: lightgray;
    padding: 1px;
}

header {
    text-align: center;
}